:root{
    --blue:#29026F;
    --gray:#FAFAFA;
    --black-dark:#373F41;
    --black-light:#737B7D;
    --white:#fff;
    --white-light:rgba(255, 255, 255, 0.8);
}
body, ul,li{
    margin: 0;
    padding: 0;
}
body * {
    box-sizing: border-box;
}
ul li {
    list-style: disc;
}
a{
    text-decoration:none;
}
body{
    font-family: sans-serif;
}
.grid{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 72px auto auto auto 55px;
}
.grid > div{
    display: grid;
}
.grid > div img{
    max-width: 100%;
    margin:  0 auto;
}
.logo{
    place-items: center;
}
.logo img{
    height: 35px;
}
.leadForm iframe {
    width: 100%;
    border: none;
    min-height: 250px;
}
.leadForm .container {
    padding: 32px 20px 0;
}
.grayBg{
    color: var(--black-light);
    background:var(--gray);
}
.container {
    width: 100%;
    margin: 0 auto 45px;
}
.content .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(360px, 100%);
    grid-template-rows: minmax(259px, auto) minmax(259px, auto);
    grid-gap: 40px;
}

.grid2 {
    padding: 0 40px;
}
.grid2 ul {
    padding-left: 16px;
}
.grid2 ul li{
    list-style: disc;
    padding: 0 0 25px 0;
    line-height: 1.5;
}
h2{
 font-size: 32px;
 font-weight: bold;
 color: var(--black-dark);
 margin: 0 0 16px;
}
.footer{
    background: var(--blue);
    align-items: center;
    text-align: center;
    color:var(--white);
    margin-top: 50px;
}

.button {
    width: auto;
    border-radius: 20px;
    background: var(--blue);
    place-items: center;
    color: #fff;
    max-width: 126px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 20px 0;
}
.hideDesktop{
    display: none;
}
@media screen and (max-width:376px){
    .hideMobile{
        display: none;
    }
    .hideDesktop{
        display: block;
    }
}
@media screen and (min-width:768px){
    .container {
        width: 100%;
        max-width: 700px;
    }
    .logo {
        place-items: initial;
        align-items: center;
        padding-left: 74px;
    }
    .leadForm iframe {
        height: 630px;
    }
    .content .grid{
        grid-template-columns: minmax(340px, 540px) minmax(340px, 540px);
        grid-template-rows: minmax(259px, 440px);
    }
    
}
@media screen and (min-width:992px){
    .container {
        max-width: 1080px;
        width: 100%;
    }
    .footer{
        text-align: left;
        text-indent: 52px;
    }
    .grid2 {
        padding: 98px 0;
    }
}